@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//Default BC core font scheme
h1, .h1{
	font-family: $default_font_family;
	font-size: 48px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 48px;
	color: $primary_color;
}

h2, .h2{
	font-family: $default_font_family;
	font-size: 36px;
	font-weight: 100;
	text-transform: capitalize;
	line-height: 36px;
	color: $brown_color;
}

h3, .h3{
	font-family: $default_font_family;
	font-size: 28px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 28px;
	color: $primary_color;
}

h4, .h4{
	font-family: $default_font_family;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 26px;
	color: $secondary_color;
}

h5, .h5{
	font-family: $default_font_family;
	font-size: 18px;
	font-weight: 400; 
	text-transform: none;
	line-height: 24px;
	letter-spacing: default;
	color: $primary_color;
}

h6, .h6{
	font-family: $default_font_family;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
	line-height: 18px;
	letter-spacing: default;
	color: $primary_color;
}


p, .p,body{
	font-family: $alternate_font_family_1;
	font-size: 20px;
	font-weight: 300;
	text-transform: none;
	line-height: 34px;
	color: $brown_color;
	a{
		&:hover{
			color: $secondary_color;
			text-decoration: underline;;
		}
	}
}

main a{
	font-family: $alternate_font_family_1;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	line-height: 34px;
	color: $secondary_color;
	&:hover{
		text-decoration: underline;
		color: $secondary_color;
	}
}

//Todo: need to style for hyperlinks <a>

//Classes for font family
.bc_font_default { font-family: $default_font_family; }
.bc_font_alt_1 { font-family: $alternate_font_family_1; }
.bc_font_alt_2 { font-family: $alternate_font_family_2; }
.bc_font_alt_3 { font-family: $alternate_font_family_3; }

//Classes for font-weights
.bc_text_thin { font-weight: 100; }
.bc_text_xlight { font-weight: 200; }
.bc_text_light { font-weight: 300; }
.bc_text_normal { font-weight: 400; }
.bc_text_medium { font-weight: 500; }
.bc_text_semibold { font-weight: 600; }
.bc_text_bold { font-weight: 700; }
.bc_text_xbold { font-weight: 800; }
.bc_text_heavy { font-weight: 900; }

//Classes for font sizes
.bc_text_14 { font-size: 14px; }
.bc_text_16 { font-size: 16px; }
.bc_text_18 { font-size: 18px; }
.bc_text_19 { font-size: 19px; }
.bc_text_20 { font-size: 20px !important; }
.bc_text_22 { font-size: 22px; }
.bc_text_24 { font-size: 24px; }
.bc_text_26 { font-size: 26px; }
.bc_text_28 { font-size: 28px; }
.bc_text_30 { font-size: 30px; }
.bc_text_32 { font-size: 32px; }
.bc_text_36 { font-size: 36px; }
.bc_text_40 { font-size: 40px; }
.bc_text_48 { font-size: 48px; }
.bc_text_50 { font-size: 50px; }
.bc_text_68 { font-size: 68px; }
 
//Classes for line Heights
.bc_line_height_14 { line-height: 14px; }
.bc_line_height_16 { line-height: 16px; }
.bc_line_height_18 { line-height: 18px; }
.bc_line_height_20 { line-height: 20px; }
.bc_line_height_21 { line-height: 21px; }
.bc_line_height_22 { line-height: 22px; }
.bc_line_height_24 { line-height: 24px; }
.bc_line_height_26 { line-height: 26px; }
.bc_line_height_28 { line-height: 28px; }
.bc_line_height_30 { line-height: 30px; }
.bc_line_height_32 { line-height: 32px; }
.bc_line_height_34 { line-height: 34px; }
.bc_line_height_36 { line-height: 36px; }
.bc_line_height_38 { line-height: 38px; }
.bc_line_height_40 { line-height: 40px; }
.bc_line_height_41 { line-height: 41px; }
.bc_line_height_44 { line-height: 44px; }
.bc_line_height_48 { line-height: 48px; }
.bc_line_height_50 { line-height: 50px; }
.bc_line_height_52 { line-height: 52px; }
.bc_line_height_60 { line-height: 60px; }
.bc_line_height_64 { line-height: 64px; }


//Classes for letter spacing
.bc_letter_spacing_24 { letter-spacing: 24px; }
.bc_letter_spacing_25 { letter-spacing: 25px; }
.bc_letter_spacing_36 { letter-spacing: 36px; }
.bc_letter_spacing_100 { letter-spacing: 100px; }

::placeholder, button {
  font-family: $default_font_family;
  font-weight: 400;
  line-height: 36px;
  color: $success_color;
}

li{
	line-height:40px;
	text-transform:lowercase
}