//Classes for color
.bc_color_primary { color: $primary_color; }
.bc_color_secondary { color: $secondary_color; }
.bc_color_tertiary { color: $tertiary_color; }
.bc_color_error { color: $error_color; }
.bc_color_warning { color: $warning_color; }
.bc_color_success { color: $success_color; }
.bc_color_info { color: $info_color; }

//Classes for color
.bc_color_primary_bg { background-color: $primary_color; }
.bc_color_secondary_bg { background-color: $secondary_color; }
.bc_color_tertiary_bg { background-color: $tertiary_color; }
.bc_color_error_bg { background-color: $error_color; }
.bc_color_warning_bg { background-color: $warning_color; }
.bc_color_success_bg { background-color: $success_color; }
.bc_color_info_bg { background-color: $info_color; }