$primary_color:#666d89;
$secondary_color:#cbb893;
$tertiary_color:#e7decd;
$quaternary_color:#1d1817;
$warning_color:#cc814a;
$error_color:#a03939;
$success_color:#4f9808;
$info_color:#2c3e87;
$light_color: #B9A886;
$brown_color: #1D1817;
$lightgray_color: #E3E4E9;